body{
    overflow: hidden;
    height: 100vh;
    margin:0;
    padding: 0
}

#interactive{
    width: 100%;
    height: 50%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

#joke{
    width: 100%;
    height: 50%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

