body{
    overflow: hidden;
    height: 100vh;
    margin:0;
    padding: 0;
    background-image: url('./src/img/carambar.webp');
    background-size:cover;
    background-repeat: no-repeat;
}

#allJokes{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#interactive{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

#joke{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}

#addquestion{
     width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}